* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}
#particles-js{
    height: 700%;
    position: absolute;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #09a6ef;
    width: 40px;
}

body {
    background: #001;
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
    background: rgba(0 0 0 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;

}

.logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.logo a span {
    color: #09a6ef;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
}

button span {
    color: #fff;

}

.menu li {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: #fff;
}

li>a>button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: 'stack';
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

li>a>button>span {
    transition: all 300ms ease-in-out;
    grid-area: stack;
}

li>a>button>span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
}

li>a>button:focus-visible>span:first-of-type,
li>a>button:hover>span:first-of-type {
    transform: scale(0);

}

li>a>button:focus-visible>span:last-of-type,
li>a>button:hover>span:last-of-type {
    transform: scale(1);
    color: #09a6ef;
}

.menu a {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    background-color: #001;
}

.home-img img {
    width: 25vw;
    margin-left: 100px;
    border: 3px solid #09a6ef;
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
    0% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }

    35% {
        border-radius: 60% 40% 57% 43% / 49% 49% 30% 73%;
    }

    65% {
        border-radius: 67% 49% 48% 52% / 27% 70% 30% 73%;
    }

    100% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 73%;
    }
}

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 40vh;
    margin-bottom: -200px;
    flex-direction: column;
    width: 60%;
}

.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: #fff;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    color: #09a6ef;
    margin-block: 20px;
    margin-bottom: 10px;
}

#slidevalue {
    display: flex;
    font-family: sans-serif;
    color: #09a6ef;
    font-size: 70px;
    font-weight: 600;
}

.start {
    opacity: 0;
}

.animation {
    animation: fade .3s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.holder-animation {
    animation: holder 4s;
}

@keyframes holder {
    0% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.featured-text-info {
    font-size: 16px;
    margin-bottom: 50px;
}

.social-icon {

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -5px;
    margin-top: 20px;
    gap: 32px;
}

.social-icon i {
    color: #ddd;
    font-size: 16px;
    background-color: transparent;
    margin: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 3px #09a6ef;
    border-radius: 50%;
    transition: 0.5s;
}

.social-icon i:hover {
    transform: scale(1.2);

}

.about {

    min-height: 50vh;

}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30rem;
}

.title-h1 {
    color: #fff;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;

}

.about p {
    color: #fff;
    margin: 1.5rem 0;
    font-size: 20px;
}

.about-social {
    margin-top: 10px;
    margin-bottom: 25px;
}

.about-social i {
    color: #09a6ef;
    font-size: 16px;
    background-color: transparent;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 1.5px solid #09a6ef;
    transition: 0.5s;
}

.about-social i:hover {
    transform: scale(1.5);
    border: 1px solid #09a6ef;
}

.btn-b {
    display: inline-block;
    background: #09a6ef;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 6px;
    border: 2px solid #09a6ef;
    color: #fff;
    transition: all 0.3s ease;

}

.btn-b:hover {
    color: #09a6ef;
    background: none;
}

.services {
    color: #fff;
    background: #001;

}

.heading {
    text-align: center;
    font-size: 4.5rem;
}
.heading span{
    color: #09a6ef;
    transition: all 0.3s ease;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    border: 2px solid #09a6ef;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 60px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;

}

.services-list div:hover {
    background: #09a6ef;
    transform: translateY(-10px);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2.3rem;
    margin-top: 4.2rem;
    align-items: center;
}

.row {
    background: #112;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #09a6ef;
    padding: 20px;
    transition: all 0.3s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;

}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row h5 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    background: #09a6ef;
    color: #fff;
}

.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid #09a6ef;
    transform: translateY(-5px) scale(1);
    cursor: pointer;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 90rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    border: 1px solid #09a6ef;
    margin: 0.7rem 0;
    border-radius: 0.8rem;
    background: transparent;
    resize: none;
}

.contact form .input-box input,
.contact form textarea:hover {
    border: 1px solid #09a6ef;
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact .btn-t {
    margin-top: 2rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: #09a6ef;
    border: 2px solid #09a6ef;
    transition: all 0.3s ease;
}

.contact form .btn-t:hover {
    color: #09a6ef;
    background: none;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: #001;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 2rem;
    margin: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 3px #09a6ef;
    color: #09a6ef;
    border-radius: 50%;
    transition: 0.5s;
}

.footer .social a:hover {
    transform: scale(1.5) translateY(-8px);
    box-shadow: 0 0 20px #09a6ef;
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

@media (max-width:1285px) {
    html {
        font-size: 55%;
    }

    .title-h1 {
        font-size: 25px;
    }

    .about-container {
        grid-template-columns: auto;
    }
}

@media (max-width:991px) {
    header {
        padding: 3rem 10%;
    }

    section {
        padding: 5rem 10% 2rem;

    }

    .footer {
        padding: 2rem 3%;
    }

    .footer {
        padding: 2rem 3%;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        font-weight: 700;
        top: 0;
        background: #001;
        text-align: center;
        flex-direction: column;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .menu.active {
        left: 0;
    }

    .menu li {
        display: block;
    }

    .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

@media (max-width:786px) {
    section {
        padding: 5rem 10% 2rem;
    }

    .home-img img {
        display: none;
    }

    .about {
        flex-direction: column;
    }
    .contact form .input-box input{
        width: 100%;
    }
}